body{
    background: linear-gradient(to top, #7cfc00, #fd3f92);
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#title{
    border: 5px solid rgb(235, 229, 232);
    border-radius: 10%;
    border-width: 10px;
    align-items: center;
    margin-bottom: 30px;
    border-color: #e72378;
}

header{
    font-size: 40px;
    color: #7cfc00;
}

h1{
    font-size: 20px;
}

#adress{
    border: 5px solid rgb(235, 229, 232);
    border-radius: 10%;
    border-width: 10px;
    align-items: center;
    margin-bottom: 30px;
    border-color:#bb7349;
}

#ExplainParty{
    display: none;
    border: 5px solid rgb(235, 229, 232);
    align-items: center;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

form{
    border: 5px solid rgb(235, 229, 232);
    border-radius: 10%;
    border-width: 10px;
    align-items: center;
    margin-bottom: 30px;
    border-color: #7cfc00;
}

h4{
    font-size: 20px;
    margin-bottom: 0px;
}

#party{
    color: #e72378;
}

#lieu{
    color: #bb7349;
}

#envoyer{
    color: #4f7e20;
}